@media only screen and (max-width: 769px) {
  header {
    .menu-bg {
      .menu-2 {
        flex-direction: column;
      }
    }

  }
  .block-2 {
    flex-direction: column;
  }
  .block-3 {
    flex-direction: column;
  }
  .social-flex {
    flex-direction: column;
  }
}
